@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    background: #f3f1f1;
}

main {
    min-height: 90vh;
}

.main__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__heading {
    font-size: 2.5rem;
}

.container__items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.container__item {
    list-style: none;
    color: black;
    margin: 0.5rem;
    padding: 0.5rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}


/* .writing {
    text-align: center;
    border: 1px solid #c7c5c2;
}

.writing__header {
    text-decoration: underline;
}

.writing_items {
    list-style: lower-latin;
    list-style-position: inside;
} */
